*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   user-select: none;

}
body{
    font-family: 'Epilogue', sans-serif;
    background: #fff;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #7f7f7f;
}
.menumab{
    display: none;
}
.menutwo{
    padding-left: 0;
}
#menu_mobile{
    display: none;
}
.image_mobile{
    display: none;
}
.features{
    display: flex; 
    color: #7f7f7f;

}
.btn-item,#btn-item{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    font-size: 1.1rem;
    color: #7f7f7f;
}
.features span,
.features__item,
.btn-item,
#btn-item{
    margin-left: 1.5rem
}

#features_item_two,
#company{
    background-color: transparent;
    border: 1px solid #cebcbc;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #7f7f7f;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    position:absolute;
    
}
#company{
    margin-left: 1rem;
}
ul li{
    list-style: none;
}
a{
  text-decoration: none;
  color: #7f7f7f;

}
.features_one a{
    padding-right: 1.1rem;
}
.features_one button,.buttonmore{
  padding: 0.7rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}
#container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem;
}
.container__princi_item{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    position: relative;
    max-width: 1100px;
}
.princi_image{
    width: 90%;
}
.container-item{
    text-align: start;
    max-width: 450px;
}
.container-item h1{
    font-size: 4rem;
    margin: 5rem auto;
    max-width: 425px;
  
}
.container-item  p{
    color: #7f7f7f;
    font-size: 1rem;
    margin-top: 1rem;
}
.rodape{
    position: absolute;
    bottom: 0;
    max-width: 500px;
    
}
.rodape ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rodape img{
   width: 114px;
   padding-right: 2rem;
}
.buttonmore{
    margin-top: 1.5rem;
    padding: 1rem;
    background: #000;
    color: #fff;
}
.buttonmore:hover{
    background: transparent;
    color: #000;
}
@media ((min-width:300px) and (max-width:940px)){
    .menu{
        display: none;
    }

    .menumab{
       display: flex;
       justify-content: space-between;

    }
    .menu_mobile{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        max-width: 50%;
        height: 100%;
        width: 65%;
        background-color: ;
        padding: 0 1rem;
        max-width: 300px;
        z-index: 2;
    }
   
    .menu_mobile_item button{
        background-color: transparent;
        padding-left: 2rem;
    }
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* cor preto com 50% de opacidade */
        z-index: 1; /* para ficar acima do conteúdo da página */
        display: none; /* inicia escondido */
    }
    #overlay.active{
        display: block;
    }
    .close-bt{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        background-color: transparent;
        border: transparent;
    }
    #menum{
        position: absolute;
        top: 2rem;
        right: 1rem;
        cursor: pointer;
    }
    .logo{
        margin-top:2rem;
    }
    #featu{
        padding-left: 2rem;
    }
    .features span, .features__item{
        margin-left: 0;
    }
    #features_item_one, #companyone{
        padding-left: 1.4rem;
        padding-top: 1rem;
    }
    #features_item_one ul li, #companyone ul li{
        padding-bottom: 1rem;
    }
    .features{
        display: flex;
        flex-direction: column;
        padding:5rem 7rem 0rem 0rem ;
        color: #7f7f7f;
    }

    .features a{
        color: #7f7f7f;
        padding-bottom: 1rem;
    }
    .features a,
     #btn-item-on,
     .btn-item-one{
        font-size:1.1rem;
     }
     #btn-item-on,
     .btn-item-one{
        cursor: pointer;
        background-color: transparent;
        border: transparent;
        font-size: 1.1rem;
        color: #7f7f7f;
        padding-bottom: 1rem;
    }
    .register button{
        color:#7f7f7f;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 1rem;
        padding: 1.3rem;
        width: 100%;
    }
    .register{
        display:flex;
        flex-direction: column;
        padding-left: 4rem;
        font-size: 1rem;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .container__princi_item{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
    }
    .container-item h1{
        font-size: 2rem;
        margin: 4rem auto;
        max-width: 325px;
        padding: 0;
        padding: 0 4rem 0 1rem;
        white-space: nowrap;
    }
    .container-item p{
        padding: 0 4rem 0 1rem;
    }

    .buttonmore{
        display: flex;
        flex-direction: column;
        margin: 3rem 5rem 5rem 5rem;
        justify-content: center;
    }
    .rodape{
        width: 100%;
        flex-wrap: wrap; 
        display: flex;
        
    }
    .rodape ul li img{
        width: 100%;
    }
    .princi_image{
        display: none;
    }
    .image_mobile{
        display: flex;
        width: 100%;
        margin: 0;
    }
    
    

    
}


